<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="{{url_for('static' , filename='style.css')}}">
    </head>
    <body id="main">
        <h1 id="title">🏏 CricVision Pro</h1>
        <h3>An interactive cricket analytics platform built using Flask and Python.</h3>
        <h2>Technologies</h2>
        <p>✔ Flask</p>
        <P>✔ Pandas</P>
        <p>✔ Plotly</p>
        <p>✔ HTML</p>
        <p>✔ CSS</p>
        <p>✔ JavaScript</p> 
        <h2>Features</h2>
        <ul>
            <li>Player Analysis</li>
            <li>Team Analysis</li>
            <li>Venue Analysis</li>
            <li>Opponent Analysis</li>
            <li>Interactive Charts</li>
        </ul>
        <h3>Developed by</h3>
        <h4>Pardhu</h4> 
    </body>
</html>